<section class="pagination">
  {% if paginate.pages > 1 %}
    {% if paginate.previous.is_link %}
      <a href="{{ paginate.previous.url }}">PREV</a>
    {% endif %}

    {% if paginate.next.is_link %}
      <a href="{{ paginate.next.url }}">NEXT</a>
    {% endif %}
  {% endif %}
</section>