
<h1>Product</h1>

{% render 'product-schema-snippet', product: product %}

{% schema %}
{
  "name": "Main Product",
  "tag": "section",
  "class": "main-product",
  "settings": [],
  "blocks": []
}
{% endschema %}