
<h1>Password</h1>

{% form 'storefront_password' %}

  {% if form.errors %}
    {{ form.errors | default_errors }}
  {% endif %}

  <div>
    <input placeholder="Password" type="password" name="password">
    <button type="submit" class="btn primary">Submit</button>
  </div>

{% endform %}

{% schema %}
{
  "name": "Main Passowrd",
  "tag": "section",
  "class": "main-password",
  "settings": [],
  "blocks": []
}
{% endschema %}