{% assign collection = collections[section.settings.collection] %}

<h1 class="text-center">{{ collection.title }}</h1>

<div class="grid-x">
  {% for product in collection.products %}
    {% render 'product-snippet', product: product, classes: "cell medium-4" %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "List Products",
  "tag": "section",
  "class": "list-products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "category": "Sections",
      "name": "List Products"
    }
  ]
}
{% endschema %}